.footer {
  background-color: #053B50;
  .social-links {
    display: flex;
    justify-content: space-evenly;
  }
  .copyright {
    border-top: 1px solid #ddd9cc;
    border-bottom: 1px solid #ddd9cc;
  }
  &-links {
    ul {
      li {
        padding-left: 0.8rem;
      }
    }
  }
}
