.color {
  &-1 {
    color: rgba(0, 0, 0, 0.8);
  }
  &-2 {
    color: rgba(0, 0, 0, 0.7);
  }
  &-3 {
    color: rgba(0, 0, 0, 0.6);
  }

  &-white {
    &_1 {
      color: rgba(255, 255, 255, 1);
      font-weight: 600;
    }
    &_2 {
      color: rgba(255, 255, 255, 0.8);
      font-weight: 400;
    }
    &_3 {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 300;
    }
  }
  &-offer{
    color: #00a650;
  }
}

.size{
  &-small {
    &_s{
      font-size: 0.375em;
    }
    &_m{
      font-size: 0.750em;
    }
    &_l{
      font-size: 0.875em !important;
    }
  }
  &-medium{
    &_s{
      font-size: 1em !important;
    }
    &_m{
      font-size: 1.375em !important;
    }
    &_l{
      font-size: 1.75em !important;
    }
  }
  &-large{
    &_s{
      font-size: 2.8em;
    }
    &_m{
      font-size: 3.5em;
    }
    &_l{
      font-size: 4.5em ;
    }
  }
}